.container {
    .content {
        .rangeslider__fill {
            background-color: #1e88e5;
        }
        .rangeslider__handle {
            width: 2em;
            height: 2em;
            border-radius: 1em;
            top: -.5em;
            background-color: #fff;

            &:after {
                content:none;
            }
        }
    }
}