.tree {
    padding-top: 1rem;
    overflow: auto;
    display: flex;

    flex-direction: column;

    &_input {
        font-size: 2rem;
        color: #000;
        border: none;
        border-bottom: 1px dashed #000;
        background: transparent;
        line-height: 2rem;
        text-transform: uppercase;
    }
}
