
@media all and (min-width: 1440px) {
    html {
        font-size: 24px;
    }
}

@media all and (min-width: 1100px) and (min-width: 1339px) {
    html {
        font-size: 18px;
    }
}

@media all and (max-width: 1099px) and (min-width: 960px) {
    html {
        font-size: 14px;
    }
}

@media all and (max-width: 959px) and (min-width: 600px) {
    html {
        font-size: 12px;
    }
}

@media all and (max-width: 599px) and (min-width: 320px) {
    html {
        font-size: 10px;
    }
}

@media all and (max-width: 319px) {
    html {
        font-size: 8px;
    }
}
