.battlefield-cells .battlefield-cells-row {
  display: inline-block;
}
.battlefield-cells .battlefield-cells-row:not(:first-child) .battlefield-cell:not(:first-child):hover {
  background-color: #801077;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell {
  height: 3em;
  width: 3em;
  border-left: 1px solid;
  border-top: 1px solid;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1em;
  line-height: 3em;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell:hover {
  background-color: #801077;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell:last-child {
  border-bottom: 1px solid;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell[data-bytes="0"] {
  background-color: #2484ff;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell[data-bytes="1"] {
  background-color: #234899;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell[data-bytes="2"] {
  background-color: #000;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell[data-bytes="3"] {
  background-color: #6d0019;
}
.battlefield-cells .battlefield-cells-row .battlefield-cell[data-bytes="5"] {
  background-color: #556980;
}
.battlefield-cells .battlefield-cells-row:first-child .battlefield-cell,
.battlefield-cells .battlefield-cells-row .battlefield-cell:first-child {
  background: #b19fa3;
}
.battlefield-cells .battlefield-cells-row:last-child .battlefield-cell {
  border-right: 1px solid;
}
