.container .content .rangeslider__fill {
  background-color: #1e88e5;
}
.container .content .rangeslider__handle {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  top: -0.5em;
  background-color: #fff;
}
.container .content .rangeslider__handle:after {
  content: none;
}
