.form {
    margin: auto;
    padding: 5rem;
    border: 1rem solid;
    display: flex;
    flex-direction: column;

    &--rounded {
        background: #fff;
        border-radius: 5rem;
    }

    &-input {
        &_label {
            font-size: 1.75rem;
        }

        input {
            font-size: 1.25rem;
            width: 100%;
            border: none;
        }

        &_error {
            color: #a94442;
            font-size: 1.25rem;
        }

        &_errors {
            margin-top: 0;
        }
    }

    &_controls {
        display: flex;
        justify-content: space-evenly;
    }
}
