$size: 3rem;

$flag-undefined-flag: undefined;

$flag-none-color: #2484ff;
$flag-none-flag: 0;

$flag-dead-color: #234899;
$flag-dead-flag: 1;

$flag-ship-color: #000;
$flag-ship-flag: 2;

$flag-ship-dead-color: #6d0019;
$flag-ship-dead-flag: $flag-ship-flag + $flag-dead-flag;

$flag-skip-color: #556980;
$flag-skip-flag: 4 + $flag-dead-flag;

$hover-color: #801077;

$border-style: 1px solid;

.cells-container {
    display: inline-block;

    &:not(:first-child) {
        .cell:not(:first-child) {
            &:hover {
                background-color: $hover-color;
            }
        }
    }

    .cell {
        height: $size;
        width: $size;

        border-left: $border-style;
        border-top: $border-style;
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: $size/3;
        line-height: $size;

        &:hover {
            background-color: $hover-color;
        }

        &:last-child {
            border-bottom: $border-style;
        }

        &[data-byte-sequence="${flag-none-flag}"] {
            background-color: $flag-none-color;
        }

        &[data-byte-sequence="${flag-dead-flag}"] {
            background-color: $flag-dead-color;
        }

        &[data-byte-sequence="${flag-ship-flag}"] {
            background-color: $flag-ship-color;
            border-color: $flag-ship-color;
            color: #fff;
        }

        &[data-byte-sequence="${flag-ship-dead-flag}"] {
            background-color: $flag-ship-dead-color;
        }

        &[data-byte-sequence="${flag-skip-flag}"] {
            background-color: $flag-skip-color;
        }
    }

    &:first-child .cell, .cell:first-child {
        background: #b19fa3;
    }

    &:last-child .cell {
        border-right: $border-style;
    }
}
