$border-config: 1px dotted rgba(255, 255, 255, .5);

.component.pagination {
    margin-top: 2rem;
    border-top: $border-config;
    border-bottom: $border-config;

    font-size: 1.25rem;
    color: #fff;
    text-align: center;

    & > span {
        &:hover {
            color: #000;
            background: #fff;
        }

        display: inline-block;
        min-width: 3rem;
        text-align: center;

        border-left: $border-config;

        &:last-child {
            border-right: $border-config;
        }

        &.prev, &.next {
            cursor: pointer;
        }

        &.prev {
            &:before {
                content: '<';
            }
        }
        &.next {
            &:after {
                content: '>';
            }
        }
    }
}
