.button {
    background: none;

    border: 3px #000 solid;
    border-radius: 5rem;


    font-size: 1.5rem;
    font-weight: lighter;
    font-style: italic;

    padding: 1rem 2rem;

    text-transform: lowercase;
}
