.button {
    background: transparent;

    border: .1rem #fff solid;
    border-radius: 2rem;

    color: #fff;

    font-size: 1.25rem;
    font-weight: lighter;
    font-style: italic;

    padding: 1rem 1.5rem;

    text-transform: lowercase;
}
