.button {
    background: none;

    border: 3px #000 solid;
    border-radius: 2rem;

    font-size: 1.25rem;
    font-weight: lighter;
    font-style: italic;

    padding: 1rem 1.5rem;

    text-transform: lowercase;
}
