$navbar-width: 21rem;
$navbar-width-collapsed: 4rem;
$navbar-animation: all .33s ease;

.sidenav {
    position: relative;
    display: flex;
    flex-direction: column;

    width: $navbar-width;
    transition: $navbar-animation;
    text-transform: uppercase;
    // background: #00000090;
    // background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    // border-right: 1px solid #fff;


    &, &--collapsed {
        position: relative;
        background: #00000090;
    }

    &--collapsed {
        width: $navbar-width-collapsed;
        transition: $navbar-animation;
    }

    &_title {
        align-items: center;
        display: flex;
        color: #fff;
        padding: 0 1rem;
    }

    &_link {
        padding: 1rem;
        font-size: 1.25rem;

        &:hover {
            color: #000;
            background: #fff;
        }
    }

    &_collapse-button {
        z-index: 1;
        font-size: 3rem;
        position: absolute;
        right: 1rem;
        color: #fff;
        background: transparent;
        border: none;
        cursor: pointer;

        &:after {
            content: '\2261';
        }
    }
}
