.topnav {
    background: #00000050;

    height: 4rem;


    display: flex;
    align-items: center;
    justify-content: flex-end;

    &_search_button, &_profile_button {
        background: transparent;
        border: none;
        color: #fff;
    }

    &_search_button {
        font-size: 1.5rem;
        font-style: italic;
    }

    &_profile_button {
        width: 3rem;
        height: 3rem;

        font-size: 1.25rem;
        line-height: 2rem;

        border-radius: 3rem;

        border: 2px solid #fff;
        box-sizing: border-box;

        margin: 0 1rem;
    }
}
