.tree-node {
    margin-left: 2rem;

    &, &--with-children, &--with-children-expanded {
        font-size: 1.25rem;
        font-weight: 100;
    }

    &--pattern-match {
        font-weight: bold;
    }

    &--with-children {
        &, &-expanded {
            margin-left: 1rem;
        }

        &::before, &-expanded::before {
            width: 1rem;
            display: inline-block;
            text-align: center;
            font-size: 1rem;
            font-weight: 900;
        }

        &::before {
            content: "+";
        }

        &-expanded::before {
            content: "-";
        }
    }
}
