{
    "cell": {
        "flags": {
            "none": 0,
            "dead": 1,
            "ship": 2
        }
    },
    "game": {
        "maxOpponents": 3,
        "minSize": 5,
        "maxSize": 10
    },
    "api": {
        "host": "http://localhost:80/app_dev.php"
    }
}
